### The following dataframes df1~df4 are in sequence (2018/8/7-19/7/6). df5 is for experiment.

In [1]:
from CryptoCompareAPI import CryptoCompareAPI
from utils import COIN_LIST, myconcat
import pandas as pd

In [2]:
# Get trading data from CryptoCompareAPI
api = CryptoCompareAPI()

param_list1 = []
for coin in COIN_LIST:
    param_list1.append(
        {'fsym':coin, 'tsym':'USD', 'limit':2000, 'toTs':10000000000}
    )

df_list1 = []
for param in param_list1:
    df = api.getCandle('h', param)
    df_list1.append(df)

df1 = myconcat(df_list1, ['time', 'close'])
df1.columns = ['time'] + COIN_LIST
df1.time = pd.to_datetime(df1.time, unit='s')

In [3]:
df1.time[0]

Timestamp('2019-04-14 09:00:00')

In [4]:
param_list2 = []
for coin in COIN_LIST:
    param_list2.append(
        {'fsym':coin, 'tsym':'USD', 'limit':2000, 'toTs':1555232400}
    )

df_list2 = []
for param in param_list2:
    df = api.getCandle('h', param)
    df_list2.append(df)

df2 = myconcat(df_list2, ['time', 'close'])
df2.columns = ['time'] + COIN_LIST
df2.time = pd.to_datetime(df2.time, unit='s')

In [5]:
df2.time[0]

Timestamp('2019-01-21 01:00:00')

In [8]:
param_list3 = []
for coin in COIN_LIST:
    param_list3.append(
        {'fsym':coin, 'tsym':'USD', 'limit':2000, 'toTs':1548032400}
    )

df_list3 = []
for param in param_list3:
    df = api.getCandle('h', param)
    df_list3.append(df)

df3 = myconcat(df_list3, ['time', 'close'])
df3.columns = ['time'] + COIN_LIST
df3.time = pd.to_datetime(df3.time, unit='s')

In [9]:
df3.time[0]

Timestamp('2018-10-29 17:00:00')

In [12]:
param_list4 = []
for coin in COIN_LIST:
    param_list4.append(
        {'fsym':coin, 'tsym':'USD', 'limit':2000, 'toTs':1540832400}
    )

df_list4 = []
for param in param_list4:
    df = api.getCandle('h', param)
    df_list4.append(df)

df4 = myconcat(df_list4, ['time', 'close'])
df4.columns = ['time'] + COIN_LIST
df4.time = pd.to_datetime(df4.time, unit='s')

In [13]:
df4.time[0]

Timestamp('2018-08-07 09:00:00')

In [14]:
param_list5 = []
for coin in COIN_LIST:
    param_list5.append(
        {'fsym':coin, 'tsym':'USD', 'limit':2000, 'toTs':1500000000}
    )

df_list5 = []
for param in param_list5:
    df = api.getCandle('h', param)
    df_list5.append(df)

df5 = myconcat(df_list5, ['time', 'close'])
df5.columns = ['time'] + COIN_LIST
df5.time = pd.to_datetime(df5.time, unit='s')

In [15]:
df5.time[0]

Timestamp('2017-04-21 18:00:00')

In [18]:
df5.head()

                 time    USDT  DAI  TUSD  GUSD  USDC  PAX  USDS
0 2017-04-21 18:00:00  0.9250    0     0     0     0    0     0
1 2017-04-21 19:00:00  0.9231    0     0     0     0    0     0
2 2017-04-21 20:00:00  0.9250    0     0     0     0    0     0
3 2017-04-21 21:00:00  0.9166    0     0     0     0    0     0
4 2017-04-21 22:00:00  0.9500    0     0     0     0    0     0